<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h3>عن شركتنا</h3>
                <p>نقدم لكم أفضل تجربة حجز سيارات فاخرة مع ضمان الجودة والكفاءة. نلتزم بتوفير أحدث الطرازات وأكثرها راحة وأماناً لعملائنا الكرام.</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-snapchat-ghost"></i></a>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <h3>روابط سريعة</h3>
                <ul>
                    <li><i class="fas fa-arrow-left"></i> <a href="{% url 'car_list' %}">الرئيسية</a></li>
                    <li><i class="fas fa-arrow-left"></i> <a href="#">السيارات المتاحة</a></li>
                    <li><i class="fas fa-arrow-left"></i> <a href="#">عروض خاصة</a></li>
                    <li><i class="fas fa-arrow-left"></i> <a href="#">الشروط والأحكام</a></li>
                </ul>
            </div>
            
            <div class="col-md-4 mb-4">
                <h3>اتصل بنا</h3>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> الرياض، المملكة العربية السعودية</li>
                    <li><i class="fas fa-phone"></i> +966 11 123 4567</li>
                    <li><i class="fas fa-envelope"></i> info@elitecars.com</li>
                    <li><i class="fas fa-clock"></i> 24/7 طوال أيام الأسبوع</li>
                </ul>
            </div>
        </div>
        
        <div class="copyright">
            &copy; 2023 سيارات النخبة. جميع الحقوق محفوظة.
        </div>
    </div>
</footer>